 # <center>Segmenting and Clustering Neighborhoods in Toronto </center>
<img src="https://www.toronto.ca/wp-content/uploads/2017/12/9578-moving-to-toronto-7.png" width=90% align="center"/>

## 1. Data Wrangling

In [1]:
# First we have to install beutifulsoup for scraping the website
#!conda install -c anaconda beautifulsoup4 --yes

In [1]:
# Install html parser (lxml or html5lib)
#!conda install -c anaconda lxml --yes

In [2]:
# imports
from bs4 import BeautifulSoup
import requests
import pandas as pd
import numpy as np

In [3]:
# Assign the source (Wikipedia)
source = requests.get('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M').text
soup = BeautifulSoup(source, 'lxml')

# locate the table 
table = soup.find('table', class_='wikitable')

headers=list()
# retrieve the headers
for row in table.findAll("th"):
    headers.append(row.text.replace('\n',''))

#Create the dataframe
df=pd.DataFrame(columns=headers)

# append the data
rows=list()
for tbody in table.findAll("tbody"):
    for tr in tbody.findAll("tr"):
        for td in tr.findAll("td"):
            rows.append(td.text.replace('\n',''))
        
        if len(rows)>0:
            df = df.append({headers[0]: rows[0], headers[1]: rows[1], headers[2]: rows[2]}, ignore_index=True, sort=False)
        rows.clear()

# check the df        
df.head()

  Postcode           Borough     Neighbourhood
0      M1A      Not assigned      Not assigned
1      M2A      Not assigned      Not assigned
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront

In [4]:
# Group by aggregating the neighbourhoods 
aggregations = {
    'Neighbourhood': lambda x:', '.join(x)
}
df = df.groupby(['Postcode', 'Borough']).agg(aggregations)
# reset index
df = df.reset_index()

df.head()

  Postcode       Borough                           Neighbourhood
0      M1A  Not assigned                            Not assigned
1      M1B   Scarborough                          Rouge, Malvern
2      M1C   Scarborough  Highland Creek, Rouge Hill, Port Union
3      M1E   Scarborough       Guildwood, Morningside, West Hill
4      M1G   Scarborough                                  Woburn

In [5]:
# Delete not assigned boroughs
df.drop(df.loc[df['Borough']=='Not assigned'].index, inplace=True)
df = df.sort_values(by=['Postcode'])

df.head()

  Postcode      Borough                           Neighbourhood
1      M1B  Scarborough                          Rouge, Malvern
2      M1C  Scarborough  Highland Creek, Rouge Hill, Port Union
3      M1E  Scarborough       Guildwood, Morningside, West Hill
4      M1G  Scarborough                                  Woburn
5      M1H  Scarborough                               Cedarbrae

In [6]:
#Let's check if there are some not assigned values in neighbourhood column
df.loc[df['Neighbourhood'] == 'Not assigned']

    Postcode       Borough Neighbourhood
120      M7A  Queen's Park  Not assigned

In [7]:
# Copy values from borough column to those not assigned values on neighbourhood column
df.Neighbourhood = df.Borough.where(df.Neighbourhood == 'Not assigned', df.Neighbourhood)

In [8]:
# Let's check again if there are some not assigned values in neighbourhood column
df.loc[df['Neighbourhood'] == 'Not assigned']

Empty DataFrame
Columns: [Postcode, Borough, Neighbourhood]
Index: []

In [9]:
df.head()

  Postcode      Borough                           Neighbourhood
1      M1B  Scarborough                          Rouge, Malvern
2      M1C  Scarborough  Highland Creek, Rouge Hill, Port Union
3      M1E  Scarborough       Guildwood, Morningside, West Hill
4      M1G  Scarborough                                  Woburn
5      M1H  Scarborough                               Cedarbrae

In [10]:
df.shape

(103, 3)

## 2. Locate Neighbourhoods

# Fine tuning
import geocoder

# Define function to retrieve corrdinates from the API
def get_geocoder(postal_code_from_df):
    # initialize your variable to None
    lat_lng_coords = None
    # loop until you get the coordinates
    while(lat_lng_coords is None):
        g = geocoder.google('{}, Toronto, Ontario'.format(postal_code_from_df))
        lat_lng_coords = g.latlng
        
    latitude = lat_lng_coords[0]
    longitude = lat_lng_coords[1]
    return latitude,longitude

# Loop over the df to add the postal codes' latitudes and longitudes
for i in range(0,len(df)):
    df['Latitude'][i],df['Longitude'][i]=get_geocoder(df.iloc[i]['Postcode'])

#### The above code takes too long to finish (API?) so I will use the csv instead

In [20]:
df_geo = pd.read_csv('Geospatial_Coordinates.csv')

In [21]:
df_geo.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [25]:
# Change Postal code column name
df_geo.rename(columns={'Postal Code': 'Postcode'}, inplace=True)

df_geo.head()

  Postcode   Latitude  Longitude
0      M1B  43.806686 -79.194353
1      M1C  43.784535 -79.160497
2      M1E  43.763573 -79.188711
3      M1G  43.770992 -79.216917
4      M1H  43.773136 -79.239476

In [26]:
# Merge both dataframes
df = df.merge(df_geo, on='Postcode', how='inner')

df.head()

,Postcode,Borough,Neighbourhood,Latitude,Longitude
0,M1B,Scarborough,"Rouge, Malvern",43.806686,-79.194353
1,M1C,Scarborough,"Highland Creek, Rouge Hill, Port Union",43.784535,-79.160497
2,M1E,Scarborough,"Guildwood, Morningside, West Hill",43.763573,-79.188711
3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476